   body {
    background: #333;
    color: #ffffff; 
    text-align: right;
}
.layer1 {
font-family: sans-serif;
color: #ff0000;
   text-align: right;
}
.layer2 {
   text-align: right;
color: #008000;
}
